[submodule "ledgerjs"]
	path = ledgerjs
	url = https://github.com/obsidiansystems/ledgerjs.git
	branch = ava
[submodule "avalanche.js"]
	path = avalanche.js
	url = https://github.com/ava-labs/avalanche.js.git
[submodule "hw-app-avalanche"]
	path = hw-app-avalanche
	url = https://github.com/obsidiansystems/hw-app-avalanche.git
